main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

table {
    border-radius: 5px;
    border: none;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px 20px;
    border: none;
    border: 1px solid black;
    vertical-align: top;
}

table th {
    border: 1px solid black;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background: #3E788F;
}

table td span {
    background: #3E788F;
    display: none;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
}

@media(max-width: 760px) {
    table thead {
        display: none;
    }
    table tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
        justify-content: center;
    }
    table td {
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 60%;
    }
    table td span {
        display: block;
        padding: 5px 10px;
    }
}

@media(max-width: 350px) {
    table td {
        width: 70%;
    }
}